@{
    ViewData["Title"] = "Bem-Vindo!";
}

<link rel="stylesheet" href="~/css/homePage.css"/>

<header>
    <video muted autoplay loop class="video-fundo">
        <source src="~/video/video1.mp4" type="video/mp4" />
    </video>

    <div class="text-center" id="titulo">
        <h1 class="display-4 text-primary">Bem-vindo à New-Sys!</h1>
        <p class="text-info">Aqui, barreiras não quebram, mas são quebrados pelo sistema</p>
    </div>
</header>